.rodape{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    height: auto;
    color: #e5faf7;
    background-color: #6d5579;
    font-family: Arial, Helvetica, sans-serif;
}
.redes{
    display: flex;
}
.redes li {
    list-style: none;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-end;
    margin-top: 15px;
    height: auto;
    width: 75px;
    padding: 10px;
}