.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    font-family: sans-serif;
    text-decoration:none;
    color: #6c7da7;
    height: 30px;
}

.navbar{
    display: flex;
    text-decoration:none;
}

.navbar_link{
    display: flex;
    padding-right: 20px;
    text-align: center
}


.custom_input {
	display: flex;
    align-items: center;
    padding-left: 20px;
    flex-direction: column;
	float: right;
	position: relative;
	max-width: 100%;
    margin-top: 5px;
}

.input {
	font-size: 16px;
	padding: 5px 10px;
	width: 100%;
	padding-left: 35px;
	outline: none;
	background: #FFFFFF;
	color: #000000;
	border: 1px solid #6b7485;
	border-radius: 5px;
	box-shadow: 3px 3px 2px 0px #E2E2E2;
	transition: .3s ease;
}

.input:focus {
	background: #F2F2F2;
	border: 1px solid #5A7EC7;
	border-radius: 10px;
}

.input::placeholder {
	color: #DDDDDD;
}

.icon {
	position: absolute;
	left: 10px;
	width: 18px;
	height: 18px;
    margin-top: 5px;
}