.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 50px;
    background-color: #03110f;
    min-height: 100vh;
}

/*
#e5d0e3
#586994
#6d5579
*/

.card{
    width: 400px;
    height: 515px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    color: #e5faf7;
    background-color: #6c7da7;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.card:hover {
    border-radius: 20px;
}

.img{
    border-radius: 5px;
}

.botao{
    border-radius: 8px;
    background-color: #6c7da7;
    border-color: #6c7da7;
    margin-top: 10px;
    margin-right: 10px;
}

.spinner{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
}
/*
real time colors

Azul e roxo
--text: #e5faf7;
--background: #03110f;
--primary: #6c7da7;
--secondary: #191679;
--accent: #551c9b;

Roxo e lilás
--text: #f2eaf4;
--background: #0d070f;
--primary: #cea1db;
--secondary: #702985;
--accent: #b752d5;

Neutro
--text: #e7e1ea;
--background: #100d13;
--primary: #bfb2ca;
--secondary: #674756;
--accent: #aa8489;

*/