.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 50px;
    background-color: rgb(238, 238, 238);
}

.card{
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(222, 216, 183);

}

.carrossel{ 
    display: block;
    height: 293px;
    width: 395px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.carrossel li{
    list-style: none;
    position: absolute;
}