main{
    min-height: 800px;
}

body{
    margin: 0;
    background-color:  #03110f;
}

*::-webkit-scrollbar {
    height: 1000px;
    width: 10px;
  }

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB;
}
  
*::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
}
  
*::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
}
  
*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #6C7DA7;
}
  
*::-webkit-scrollbar-thumb:hover {
    background-color: #1C3A94;
}
  
*::-webkit-scrollbar-thumb:active {
    background-color: #5A60E0;
}